<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="mesfavoris.bookmarkType">
      <gotoBookmark
            class="mesfavoris.texteditor.internal.GotoWorkspaceFileBookmark"
            priority="100">
      </gotoBookmark>
      <gotoBookmark
            class="mesfavoris.texteditor.internal.GotoExternalFileBookmark"
            priority="101">
      </gotoBookmark>
      <markerAttributesProvider
            class="mesfavoris.texteditor.internal.WorkspaceFileBookmarkMarkerAttributesProvider"
            priority="100">
      </markerAttributesProvider>
      <propertiesProvider
            class="mesfavoris.texteditor.internal.TextEditorBookmarkPropertiesProvider"
            priority="100">
      </propertiesProvider>
      <labelProvider
            class="mesfavoris.texteditor.internal.TextEditorBookmarkLabelProvider"
            priority="10">
      </labelProvider>
      <propertiesProvider
            class="mesfavoris.texteditor.internal.WorkspaceFileBookmarkPropertiesProvider"
            priority="10">
      </propertiesProvider>
      <locationProvider
            class="mesfavoris.texteditor.internal.WorkspaceFileBookmarkLocationProvider"
            priority="100">
      </locationProvider>
      <locationProvider
            class="mesfavoris.texteditor.internal.ExternalFileBookmarkLocationProvider"
            priority="101">
      </locationProvider>
      <propertiesProvider
            class="mesfavoris.texteditor.internal.ExternalFileBookmarkPropertiesProvider"
            priority="100">
      </propertiesProvider>
      <propertiesProvider
            class="mesfavoris.texteditor.internal.ExternalFolderBookmarkPropertiesProvider"
            priority="10">
      </propertiesProvider>
      <gotoBookmark
            class="mesfavoris.texteditor.internal.GotoExternalFolderBookmark"
            priority="10">
      </gotoBookmark>
      <locationProvider
            class="mesfavoris.texteditor.internal.ExternalFolderBookmarkLocationProvider"
            priority="10">
      </locationProvider>
      <labelProvider
            class="mesfavoris.texteditor.internal.FolderBookmarkLabelProvider"
            priority="10">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="mesfavoris.bookmarksPreferencePage"
            class="mesfavoris.texteditor.internal.preferences.PathPlaceholdersPreferencePage"
            id="mesfavoris.texteditor.placeholdersPage"
            name="Placeholders">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:mesfavoris.views.BookmarksView?after=additions">
         <command
               commandId="mesfavoris.texteditor.commands.ViewPlaceholders"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="mesfavoris.texteditor.internal.handlers.ViewPlaceholdersHandler"
            id="mesfavoris.texteditor.commands.ViewPlaceholders"
            name="View Placeholders...">
      </command>
   </extension>

</plugin>
