<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="mesfavoris.bookmarkTypes">
      <bookmarkType
            name="texteditor">
         <gotoBookmark
               class="mesfavoris.texteditor.internal.GotoWorkspaceFileBookmark"
               priority="100">
         </gotoBookmark>
         <gotoBookmark
               class="mesfavoris.texteditor.internal.GotoExternalFileBookmark"
               priority="101">
         </gotoBookmark>
         <markerAttributesProvider
               class="mesfavoris.texteditor.internal.WorkspaceFileBookmarkMarkerAttributesProvider"
               priority="100">
         </markerAttributesProvider>
         <propertiesProvider
               class="mesfavoris.texteditor.internal.TextEditorBookmarkPropertiesProvider"
               priority="100">
         </propertiesProvider>
         <labelProvider
               class="mesfavoris.texteditor.internal.TextEditorBookmarkLabelProvider"
               priority="10">
         </labelProvider>
         <propertiesProvider
               class="mesfavoris.texteditor.internal.WorkspaceFileBookmarkPropertiesProvider"
               priority="10">
         </propertiesProvider>
         <locationProvider
               class="mesfavoris.texteditor.internal.WorkspaceFileBookmarkLocationProvider"
               priority="100">
         </locationProvider>
         <locationProvider
               class="mesfavoris.texteditor.internal.ExternalFileBookmarkLocationProvider"
               priority="101">
         </locationProvider>
         <propertiesProvider
               class="mesfavoris.texteditor.internal.ExternalFileBookmarkPropertiesProvider"
               priority="100">
         </propertiesProvider>
         <properties>
            <property
                  name="lineNumber"
                  obsolescenceSeverityProvider="mesfavoris.texteditor.internal.LineNumberObsolescenceSeverityProvider"
                  type="int"
                  updatable="true">
            </property>
            <property
                  name="lineContent"
                  obsolescenceSeverity="WARNING"
                  type="string"
                  updatable="true">
            </property>
         </properties>
      </bookmarkType>
   </extension>

</plugin>
