<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="mesfavoris.bookmarkTypes">
      <bookmarkType
            name="java">
         <gotoBookmark
               class="mesfavoris.java.GotoInsideJavaElementBookmark"
               priority="10">
         </gotoBookmark>
         <propertiesProvider
               class="mesfavoris.java.editor.JavaEditorBookmarkPropertiesProvider"
               priority="10">
         </propertiesProvider>
         <propertiesProvider
               class="mesfavoris.java.element.JavaTypeMemberBookmarkPropertiesProvider"
               priority="10">
         </propertiesProvider>
         <labelProvider
               class="mesfavoris.java.JavaBookmarkLabelProvider"
               priority="10">
         </labelProvider>
         <markerAttributesProvider
               class="mesfavoris.java.JavaBookmarkMarkerAttributesProvider"
               priority="10">
         </markerAttributesProvider>
         <locationProvider
               class="mesfavoris.java.JavaTypeMemberBookmarkLocationProvider"
               priority="10">
         </locationProvider>
         <locationProvider
               class="mesfavoris.java.JavaMarkerBookmarkLocationProvider"
               priority="-1">
         </locationProvider>
         <gotoBookmark
               class="mesfavoris.java.GotoJavaBookmarkMarker"
               priority="10">
         </gotoBookmark>
         <properties>
            <property
                  name="java.lineNumberInsideElement"
                  type="string"
                  updatable="true">
            </property>
            <property
                  name="java.elementName"
                  type="string"
                  updatable="true">
            </property>
            <property
                  name="java.declaringType"
                  type="string"
                  updatable="true">
            </property>
            <property
                  name="java.elementKind"
                  type="string"
                  updatable="true">
            </property>
            <property
                  name="java.methodSignature"
                  type="string"
                  updatable="true">
            </property>
         </properties>
      </bookmarkType>
   </extension>

</plugin>
