<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="mesfavoris.remoteStorage">
      <storage
            class="mesfavoris.gdrive.GDriveRemoteBookmarksStore"
            icon="icons/gdrive.png"
            id="mesfavoris.remoteStorage.gdrive"
            label="GDrive"
            overlayIcon="icons/gdrive_overlay.png">
      </storage>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:mesfavoris.views.BookmarksView.gdrive?after=additions">
         <command
               commandId="mesfavoris.gdrive.commands.ImportBookmarks"
               icon="icons/gdrive.png"
               label="Import bookmarks"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Import bookmarks from a Gdrive file"
            id="mesfavoris.gdrive.commands.ImportBookmarks"
            name="Import bookmarks">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="mesfavoris.gdrive.handlers.ImportBookmarksFromGdriveHandler"
            commandId="mesfavoris.gdrive.commands.ImportBookmarks">
         <activeWhen>
            <with
                  variable="selection">
               <or>
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           operator="and">
                        <reference
                              definitionId="mesfavoris.definitions.bookmarkFolder">
                        </reference>
                        <not>
                           <test
                                 property="mesfavoris.isUnderRemoteBookmarkFolder"
                                 value="true">
                           </test>
                        </not>
                     </iterate>
                  </and>
                  <count
                        value="0">
                  </count>
               </or>
            </with>
         </activeWhen>
      </handler>
   </extension>

</plugin>
