<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="remoteStorage" name="Remote Bookmarks Storage" schema="schema/remoteStorage.exsd"/>
   <extension-point id="bookmarkType" name="Defines a bookmark type" schema="schema/bookmarkType.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Mes Favoris"
            id="mesfavoris">
      </category>
      <view
            name="Mes Favoris"
            icon="icons/bookmarks-16.png"
            category="mesfavoris"
            class="mesfavoris.internal.views.BookmarksView"
            id="mesfavoris.views.BookmarksView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="mesfavoris.views.BookmarksView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="mesfavoris.ruler.context.actions"
            targetID="#TextRulerContext">
         <action
               class="mesfavoris.internal.actions.AddBookmarkRulerAction"
               id="mesfavoris.BookmarkRulerAction"
               label="Add favori"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="mesfavoris.category"
            defaultHandler="mesfavoris.internal.handlers.AddBookmarkHandler"
            description="Add a Bookmark"
            id="mesfavoris.command.addFavori"
            name="Add Favori">
      </command>
      <command
            id="mesfavoris.commands.newFolder"
            name="New folder">
      </command>
      <command
            defaultHandler="mesfavoris.internal.handlers.SetAsDefaultBookmarkFolder"
            id="mesfavoris.commands.setAsDefaultBookmarkFolder"
            name="Set as default bookmark folder">
      </command>
      <command
            defaultHandler="mesfavoris.internal.handlers.RenameBookmarkHandler"
            id="mesfavoris.commands.renameBookmark"
            name="Rename bookmark">
      </command>
      <command
            categoryId="mesfavoris.category"
            defaultHandler="mesfavoris.internal.handlers.UpdateBookmarkHandler"
            description="Update a Bookmark"
            id="mesfavoris.command.updateFavori"
            name="Update Favori">
      </command>
      <category
            id="mesfavoris.category"
            name="Mes Favoris">
      </category>
      <command
            id="mesfavoris.commands.sortByName"
            name="Sort By Name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="mesfavoris.command.addFavori"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+@">
      </key>
      <key
            commandId="mesfavoris.command.updateFavori"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+@">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="mesfavoris.definitions.bookmarkFolder">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate>
               <instanceof
                     value="mesfavoris.model.BookmarkFolder">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:mesfavoris.views.BookmarksView?after=additions">
         <menu
               label="New">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="mesfavoris.definitions.bookmarkFolder">
                  </reference>
                  <with
                        variable="selection">
                     <count
                           value="0">
                     </count>
                  </with>
               </or>
            </visibleWhen>
            <command
                  commandId="mesfavoris.commands.newFolder"
                  label="New folder"
                  style="push">
            </command>
         </menu>
         <command
               commandId="mesfavoris.commands.renameBookmark"
               label="Rename Bookmark"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="1">
               </count>
            </visibleWhen>
         </command>
         <command
               commandId="mesfavoris.commands.setAsDefaultBookmarkFolder"
               label="Set As Default Bookmark Folder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="mesfavoris.definitions.bookmarkFolder">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="mesfavoris.separator.clipboard"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.cut"
               style="push">
         </command>
         <separator
               name="mesfavoris.separator2"
               visible="true">
         </separator>
         <command
               commandId="mesfavoris.commands.sortByName"
               label="Sort By Name"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <or>
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <reference
                                 definitionId="mesfavoris.definitions.bookmarkFolder">
                           </reference>
                        </iterate>
                     </and>
                     <count
                           value="0">
                     </count>
                  </or>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="mesfavoris.internal.handlers.DeleteBookmarkHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
         <with
               variable="selection">
            <iterate>
               <instanceof
                     value="mesfavoris.model.Bookmark">
               </instanceof>
            </iterate>
         </with>
          </activeWhen>
      </handler>
      <handler
            class="mesfavoris.internal.handlers.CopyBookmarkHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="mesfavoris.model.Bookmark">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="mesfavoris.internal.handlers.PasteBookmarkHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="mesfavoris.model.BookmarkFolder">
                  </instanceof>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="mesfavoris.internal.handlers.CutBookmarkHandler"
            commandId="org.eclipse.ui.edit.cut">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="mesfavoris.model.Bookmark">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="mesfavoris.internal.handlers.NewBookmarkFolderHandler"
            commandId="mesfavoris.commands.newFolder">
         <activeWhen>
            <with
                  variable="selection">
               <or>
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <test
                              property="mesfavoris.canBeModified"
                              value="true">
                        </test>
                     </iterate>
                  </and>
                  <count
                        value="0">
                  </count>
               </or>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="mesfavoris.internal.handlers.SortByNameHandler"
            commandId="mesfavoris.commands.sortByName">
         <enabledWhen>
            <with
                  variable="selection">
               <or>
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <test
                              property="mesfavoris.canBeModified"
                              value="true">
                        </test>
                        <reference
                              definitionId="mesfavoris.definitions.bookmarkFolder">
                        </reference>
                     </iterate>
                  </and>
                  <count
                        value="0">
                  </count>
               </or>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="mesfavoris.bookmarkType">
      <gotoBookmark
            class="mesfavoris.internal.markers.GotoBookmarkMarker"
            priority="0">
      </gotoBookmark>
      <locationProvider
            class="mesfavoris.internal.markers.FileMarkerBookmarkLocationProvider"
            priority="0">
      </locationProvider>
      <labelProvider
            class="mesfavoris.viewers.BookmarkFolderLabelProvider"
            priority="0">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="mesfavoris.internal.propertytester.BookmarksPropertyTester"
            id="mesfavoris.propertyTesters.bookmark"
            namespace="mesfavoris"
            properties="canBeModified,isUnderRemoteBookmarkFolder"
            type="mesfavoris.model.Bookmark">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="mesfavoris.internal.preferences.BookmarksPreferencePage"
            id="mesfavoris.bookmarksPreferencePage"
            name="Mes favoris">
      </page>
   </extension>
   <extension
         id="bookmark"
         name="Favori"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="message">
      </attribute>
      <attribute
            name="location">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="mesfavoris.bookmark"
            name="mesfavoris.texteditor.bookmark">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="mesfavoris.texteditor.bookmark"
            colorPreferenceKey="bookmarkIndicationColor"
            colorPreferenceValue="34,164,99"
            contributesToHeader="false"
            highlightPreferenceKey="bookmarkIndicationHighlighting"
            highlightPreferenceValue="false"
            icon="icons/bookmark-16.png"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="isBookmarkGoToNextNavigationTarget"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isBookmarkGoToPreviousNavigationTarget"
            label="Favoris"
            overviewRulerPreferenceKey="bookmarkIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="1"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="showBookmarkInNextPrevDropdownToolbarAction"
            symbolicIcon="bookmark"
            textPreferenceKey="bookmarkIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="bookmarkTextStyle"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceKey="bookmarkIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
</plugin>
