<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="remoteStorage" name="Remote Bookmarks Storage" schema="schema/remoteStorage.exsd"/>
   <extension-point id="bookmarkType" name="Defines a bookmark type" schema="schema/bookmarkType.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Mes Favoris"
            id="org.chabanois.mesfavoris">
      </category>
      <view
            name="Mes Favoris"
            icon="icons/mesfavoris-16.png"
            category="org.chabanois.mesfavoris"
            class="org.chabanois.mesfavoris.internal.views.BookmarksView"
            id="org.chabanois.mesfavoris.views.BookmarksView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="org.chabanois.mesfavoris.views.BookmarksView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.chabanois.mesfavoris.ruler.context.actions"
            targetID="#TextRulerContext">
         <action
               class="org.chabanois.mesfavoris.internal.actions.BookmarkRulerAction"
               id="org.chabanois.mesfavoris.BookmarkRulerAction"
               label="Add favori"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.chabanois.mesfavoris.internal.handlers.AddTextEditorBookmarkHandler"
            description="Add a Favori"
            id="org.chabanois.mesfavoris.command.addFavori"
            name="Add Favori">
      </command>
      <command
            id="org.chabanois.mesfavoris.commands.newFolder"
            name="New folder">
      </command>
      <command
            defaultHandler="org.chabanois.mesfavoris.internal.handlers.SetAsDefaultBookmarkFolder"
            id="org.chabanois.mesfavoris.commands.setAsDefaultBookmarkFolder"
            name="Set as default bookmark folder">
      </command>
      <command
            defaultHandler="org.chabanois.mesfavoris.internal.handlers.RenameBookmarkHandler"
            id="org.chabanois.mesfavoris.commands.renameBookmark"
            name="Rename bookmark">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.chabanois.mesfavoris.command.addFavori"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+@">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.chabanois.mesfavoris.definitions.bookmarkFolder">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate>
               <instanceof
                     value="org.chabanois.mesfavoris.model.BookmarkFolder">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.chabanois.mesfavoris.views.BookmarksView?after=additions">
         <menu
               label="New">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="org.chabanois.mesfavoris.definitions.bookmarkFolder">
                  </reference>
                  <with
                        variable="selection">
                     <count
                           value="0">
                     </count>
                  </with>
               </or>
            </visibleWhen>
            <command
                  commandId="org.chabanois.mesfavoris.commands.newFolder"
                  label="New folder"
                  style="push">
            </command>
         </menu>
         <command
               commandId="org.chabanois.mesfavoris.commands.renameBookmark"
               label="Rename Bookmark"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="1">
               </count>
            </visibleWhen>
         </command>
         <command
               commandId="org.chabanois.mesfavoris.commands.setAsDefaultBookmarkFolder"
               label="Set As Default Bookmark Folder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.chabanois.mesfavoris.definitions.bookmarkFolder">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="org.chabanois.mesfavoris.separator.clipboard"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.cut"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.chabanois.mesfavoris.internal.handlers.DeleteBookmarkHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
         <with
               variable="selection">
            <iterate>
               <instanceof
                     value="org.chabanois.mesfavoris.model.Bookmark">
               </instanceof>
            </iterate>
         </with>
          </activeWhen>
      </handler>
      <handler
            class="org.chabanois.mesfavoris.internal.handlers.CopyBookmarkHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="org.chabanois.mesfavoris.model.Bookmark">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.chabanois.mesfavoris.internal.handlers.PasteBookmarkHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="org.chabanois.mesfavoris.model.BookmarkFolder">
                  </instanceof>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.chabanois.mesfavoris.internal.handlers.CutBookmarkHandler"
            commandId="org.eclipse.ui.edit.cut">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="org.chabanois.mesfavoris.model.Bookmark">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.chabanois.mesfavoris.internal.handlers.NewBookmarkFolderHandler"
            commandId="org.chabanois.mesfavoris.commands.newFolder">
         <activeWhen>
            <with
                  variable="selection">
               <or>
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <test
                              property="org.chabanois.mesfavoris.canBeModified"
                              value="true">
                        </test>
                     </iterate>
                  </and>
                  <count
                        value="0">
                  </count>
               </or>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="mesfavoris.bookmarkType">
      <gotoBookmark
            class="org.chabanois.mesfavoris.internal.markers.GotoBookmarkMarker"
            priority="0">
      </gotoBookmark>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.chabanois.mesfavoris.internal.propertytester.BookmarksPropertyTester"
            id="org.chabanois.mesfavoris.propertyTesters.bookmark"
            namespace="org.chabanois.mesfavoris"
            properties="canBeModified,isUnderRemoteBookmarkFolder"
            type="org.chabanois.mesfavoris.model.Bookmark">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.chabanois.mesfavoris.internal.preferences.BookmarksPreferencePage"
            id="org.chabanois.mesfavoris.bookmarksPreferencePage"
            name="Mes favoris">
      </page>
   </extension>

</plugin>
