<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="remoteStorage" name="Remote Bookmarks Storage" schema="schema/remoteStorage.exsd"/>
   <extension-point id="bookmarkTypes" name="Bookmark Types" schema="schema/bookmarkTypes.exsd"/>
   <extension-point id="bookmarkProblems" name="Bookmark problems" schema="schema/bookmarkProblems.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Mes Favoris"
            id="mesfavoris">
      </category>
      <view
            name="Mes Favoris"
            icon="icons/bookmarks-16.png"
            category="mesfavoris"
            class="mesfavoris.internal.views.BookmarksView"
            id="mesfavoris.views.BookmarksView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="mesfavoris.views.BookmarksView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="mesfavoris.category"
            defaultHandler="mesfavoris.internal.handlers.AddBookmarkHandler"
            description="Add a Bookmark"
            id="mesfavoris.command.addFavori"
            name="Add Favori">
      </command>
      <command
            id="mesfavoris.commands.newFolder"
            name="New folder">
      </command>
      <command
            defaultHandler="mesfavoris.internal.handlers.RenameBookmarkHandler"
            id="mesfavoris.commands.renameBookmark"
            name="Rename bookmark">
      </command>
      <command
            categoryId="mesfavoris.category"
            defaultHandler="mesfavoris.internal.handlers.UpdateBookmarkHandler"
            description="Update a Bookmark"
            id="mesfavoris.command.updateFavori"
            name="Update Favori">
      </command>
      <category
            id="mesfavoris.category"
            name="Mes Favoris">
      </category>
      <command
            id="mesfavoris.commands.sortByName"
            name="Sort By Name">
      </command>
      <command
            categoryId="mesfavoris.category"
            defaultHandler="mesfavoris.internal.handlers.AddNumberedBookmarkHandler"
            id="mesfavoris.command.addNumberedFavori"
            name="Add a Numbered Favori">
         <commandParameter
               id="mesfavoris.command.addNumberedFavori.numberParameter"
               name="number"
               optional="true"
               values="mesfavoris.internal.numberedbookmarks.BookmarkNumberParameterValues">
         </commandParameter>
      </command>
      <command
            categoryId="mesfavoris.category"
            defaultHandler="mesfavoris.internal.handlers.GotoNumberedBookmarkHandler"
            id="mesfavoris.command.gotoNumberedFavori"
            name="Goto a Numbered Favori">
         <commandParameter
               id="mesfavoris.command.gotoNumberedFavori.numberParameter"
               name="number"
               optional="true"
               values="mesfavoris.internal.numberedbookmarks.BookmarkNumberParameterValues">
         </commandParameter>
      </command>
      <command
            categoryId="mesfavoris.category"
            defaultHandler="mesfavoris.internal.handlers.GotoBookmarkHandler"
            id="mesfavoris.command.gotoFavori"
            name="Goto Favori">
      </command>
      <command
            categoryId="mesfavoris.category"
            defaultHandler="mesfavoris.internal.handlers.DeleteLinkedBookmarkHandler"
            description="Delete a Bookmark"
            id="mesfavoris.command.deleteLinkedFavori"
            name="Delete Favori">
      </command>
      <command
            defaultHandler="mesfavoris.internal.handlers.ViewPlaceholdersHandler"
            id="mesfavoris.command.ViewPlaceholders"
            name="View Placeholders...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="mesfavoris.command.addFavori"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+B B">
      </key>
      <key
            commandId="mesfavoris.command.updateFavori"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+B U">
      </key>
      <key
            commandId="mesfavoris.command.deleteLinkedFavori"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+B D">
      </key>
	<key
		commandId="org.eclipse.ui.views.showView"
		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
		sequence="M2+M3+Q B B">
		<parameter
			id="org.eclipse.ui.views.showView.viewId"
			value="mesfavoris.views.BookmarksView">
		</parameter>
	</key>
 <key
       platform="carbon"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M2+M3+Q B B">
 </key>
 <key
       commandId="org.eclipse.ui.views.showView"
       platform="carbon"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+M3+Q B B">
    <parameter
          id="org.eclipse.ui.views.showView.viewId"
          value="mesfavoris.views.BookmarksView">
    </parameter>
 </key>
 <key
       commandId="mesfavoris.command.addNumberedFavori"
       contextId="org.eclipse.ui.contexts.window"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+B M1+F1">
    <parameter
          id="mesfavoris.command.addNumberedFavori.numberParameter"
          value="ONE">
    </parameter>
 </key>
 <key
       commandId="mesfavoris.command.addNumberedFavori"
       contextId="org.eclipse.ui.contexts.window"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+B M1+F2">
    <parameter
          id="mesfavoris.command.addNumberedFavori.numberParameter"
          value="TWO">
    </parameter>
 </key>
 <key
       commandId="mesfavoris.command.addNumberedFavori"
       contextId="org.eclipse.ui.contexts.window"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+B M1+F3">
    <parameter
          id="mesfavoris.command.addNumberedFavori.numberParameter"
          value="THREE">
    </parameter>
 </key>
 <key
       commandId="mesfavoris.command.addNumberedFavori"
       contextId="org.eclipse.ui.contexts.window"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+B M1+F4">
    <parameter
          id="mesfavoris.command.addNumberedFavori.numberParameter"
          value="FOUR">
    </parameter>
 </key>
 <key
       commandId="mesfavoris.command.addNumberedFavori"
       contextId="org.eclipse.ui.contexts.window"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+B M1+F5">
    <parameter
          id="mesfavoris.command.addNumberedFavori.numberParameter"
          value="FIVE">
    </parameter>
 </key>
 <key
       commandId="mesfavoris.command.addNumberedFavori"
       contextId="org.eclipse.ui.contexts.window"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+B M1+F6">
    <parameter
          id="mesfavoris.command.addNumberedFavori.numberParameter"
          value="SIX">
    </parameter>
 </key>
 <key
       commandId="mesfavoris.command.addNumberedFavori"
       contextId="org.eclipse.ui.contexts.window"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+B M1+F7">
    <parameter
          id="mesfavoris.command.addNumberedFavori.numberParameter"
          value="SEVEN">
    </parameter>
 </key>
 <key
       commandId="mesfavoris.command.addNumberedFavori"
       contextId="org.eclipse.ui.contexts.window"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+B M1+F8">
    <parameter
          id="mesfavoris.command.addNumberedFavori.numberParameter"
          value="EIGHT">
    </parameter>
 </key>
 <key
       commandId="mesfavoris.command.addNumberedFavori"
       contextId="org.eclipse.ui.contexts.window"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+B M1+F9">
    <parameter
          id="mesfavoris.command.addNumberedFavori.numberParameter"
          value="NINE">
    </parameter>
 </key>
 <key
       commandId="mesfavoris.command.addNumberedFavori"
       contextId="org.eclipse.ui.contexts.window"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+B M1+F10">
    <parameter
          id="mesfavoris.command.addNumberedFavori.numberParameter"
          value="ZERO">
    </parameter>
 </key>
 <key
       commandId="mesfavoris.command.gotoNumberedFavori"
       contextId="org.eclipse.ui.contexts.window"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+B F1">
    <parameter
          id="mesfavoris.command.gotoNumberedFavori.numberParameter"
          value="ONE">
    </parameter>
 </key>
 <key
       commandId="mesfavoris.command.gotoNumberedFavori"
       contextId="org.eclipse.ui.contexts.window"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+B F2">
    <parameter
          id="mesfavoris.command.gotoNumberedFavori.numberParameter"
          value="TWO">
    </parameter>
 </key>
 <key
       commandId="mesfavoris.command.gotoNumberedFavori"
       contextId="org.eclipse.ui.contexts.window"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+B F3">
    <parameter
          id="mesfavoris.command.gotoNumberedFavori.numberParameter"
          value="THREE">
    </parameter>
 </key>
 <key
       commandId="mesfavoris.command.gotoNumberedFavori"
       contextId="org.eclipse.ui.contexts.window"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+B F4">
    <parameter
          id="mesfavoris.command.gotoNumberedFavori.numberParameter"
          value="FOUR">
    </parameter>
 </key>
  <key
       commandId="mesfavoris.command.gotoNumberedFavori"
       contextId="org.eclipse.ui.contexts.window"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+B F5">
    <parameter
          id="mesfavoris.command.gotoNumberedFavori.numberParameter"
          value="FIVE">
    </parameter>
 </key>
  <key
       commandId="mesfavoris.command.gotoNumberedFavori"
       contextId="org.eclipse.ui.contexts.window"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+B F6">
    <parameter
          id="mesfavoris.command.gotoNumberedFavori.numberParameter"
          value="SIX">
    </parameter>
 </key>
  <key
       commandId="mesfavoris.command.gotoNumberedFavori"
       contextId="org.eclipse.ui.contexts.window"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+B F7">
    <parameter
          id="mesfavoris.command.gotoNumberedFavori.numberParameter"
          value="SEVEN">
    </parameter>
 </key>
  <key
       commandId="mesfavoris.command.gotoNumberedFavori"
       contextId="org.eclipse.ui.contexts.window"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+B F8">
    <parameter
          id="mesfavoris.command.gotoNumberedFavori.numberParameter"
          value="EIGHT">
    </parameter>
 </key>
 <key
       commandId="mesfavoris.command.gotoNumberedFavori"
       contextId="org.eclipse.ui.contexts.window"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+B F9">
    <parameter
          id="mesfavoris.command.gotoNumberedFavori.numberParameter"
          value="NINE">
    </parameter>
 </key>
  <key
       commandId="mesfavoris.command.gotoNumberedFavori"
       contextId="org.eclipse.ui.contexts.window"
       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
       sequence="M1+B F10">
    <parameter
          id="mesfavoris.command.gotoNumberedFavori.numberParameter"
          value="ZERO">
    </parameter>
 </key>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="mesfavoris.definitions.bookmarkFolder">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate>
               <instanceof
                     value="mesfavoris.model.BookmarkFolder">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:mesfavoris.views.BookmarksView?after=additions">
         <menu
               label="New">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="mesfavoris.definitions.bookmarkFolder">
                  </reference>
                  <with
                        variable="selection">
                     <count
                           value="0">
                     </count>
                  </with>
               </or>
            </visibleWhen>
            <command
                  commandId="mesfavoris.commands.newFolder"
                  label="New folder"
                  style="push">
            </command>
         </menu>
         <command
               commandId="mesfavoris.commands.renameBookmark"
               label="Rename Bookmark"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="1">
               </count>
            </visibleWhen>
         </command>
         <separator
               name="mesfavoris.separator.clipboard"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.cut"
               style="push">
         </command>
         <separator
               name="mesfavoris.separator2"
               visible="true">
         </separator>
         <command
               commandId="mesfavoris.commands.sortByName"
               label="Sort By Name"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <or>
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <reference
                                 definitionId="mesfavoris.definitions.bookmarkFolder">
                           </reference>
                        </iterate>
                     </and>
                     <count
                           value="0">
                     </count>
                  </or>
               </with>
            </visibleWhen>
         </command>
         <menu
               label="Set number shortcut for bookmark">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="1">
               </count>
            </visibleWhen>
            <dynamic
                  class="mesfavoris.internal.actions.SetNumberForBookmarkMenu"
                  id="mesfavoris.dynamicmenu.SetNumberForBookmark">
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:edit?after=additions">
         <command
               commandId="mesfavoris.command.addFavori"
               style="push">
         </command>
         <command
               commandId="mesfavoris.command.updateFavori"
               style="push">
         </command>
         <command
               commandId="mesfavoris.command.deleteLinkedFavori"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:mesfavoris.views.BookmarksView?after=additions">
         <command
               commandId="mesfavoris.command.ViewPlaceholders"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="mesfavoris.internal.handlers.DeleteBookmarkHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
         <with
               variable="selection">
            <iterate>
               <instanceof
                     value="mesfavoris.model.Bookmark">
               </instanceof>
            </iterate>
         </with>
          </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <or>
                     <test
                           property="mesfavoris.canBeModified"
                           value="true">
                     </test>
                     <test
                           property="mesfavoris.isRemoteBookmarkFolder"
                           value="true">
                     </test>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="mesfavoris.internal.handlers.CopyBookmarkHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="mesfavoris.model.Bookmark">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="mesfavoris.internal.handlers.PasteBookmarkHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="mesfavoris.model.BookmarkFolder">
                  </instanceof>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="mesfavoris.internal.handlers.CutBookmarkHandler"
            commandId="org.eclipse.ui.edit.cut">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="mesfavoris.model.Bookmark">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="mesfavoris.internal.handlers.NewBookmarkFolderHandler"
            commandId="mesfavoris.commands.newFolder">
         <activeWhen>
            <with
                  variable="selection">
               <or>
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <test
                              property="mesfavoris.canBeModified"
                              value="true">
                        </test>
                     </iterate>
                  </and>
                  <count
                        value="0">
                  </count>
               </or>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="mesfavoris.internal.handlers.SortByNameHandler"
            commandId="mesfavoris.commands.sortByName">
         <enabledWhen>
            <with
                  variable="selection">
               <or>
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <test
                              property="mesfavoris.canBeModified"
                              value="true">
                        </test>
                        <reference
                              definitionId="mesfavoris.definitions.bookmarkFolder">
                        </reference>
                     </iterate>
                  </and>
                  <count
                        value="0">
                  </count>
               </or>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="mesfavoris.internal.propertytester.BookmarksPropertyTester"
            id="mesfavoris.propertyTesters.bookmark"
            namespace="mesfavoris"
            properties="canBeModified,isUnderRemoteBookmarkFolder,isDefaultBookmarkFolder,isRemoteBookmarkFolder"
            type="mesfavoris.model.Bookmark">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="mesfavoris.internal.preferences.BookmarksPreferencePage"
            id="mesfavoris.bookmarksPreferencePage"
            name="Mes favoris">
      </page>
      <page
            category="mesfavoris.bookmarksPreferencePage"
            class="mesfavoris.internal.preferences.placeholders.PathPlaceholdersPreferencePage"
            id="mesfavoris.texteditor.placeholdersPage"
            name="Placeholders">
      </page>
   </extension>
   <extension
         id="bookmark"
         name="Favori"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="message">
      </attribute>
      <attribute
            name="location">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="mesfavoris.bookmark"
            name="mesfavoris.texteditor.bookmark">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="mesfavoris.internal.markers.BookmarkAnnotationImageProvider"
            annotationType="mesfavoris.texteditor.bookmark"
            colorPreferenceKey="bookmarkIndicationColor"
            colorPreferenceValue="34,164,99"
            contributesToHeader="false"
            highlightPreferenceKey="bookmarkIndicationHighlighting"
            highlightPreferenceValue="false"
            icon="icons/bookmark-16.png"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="isBookmarkGoToNextNavigationTarget"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isBookmarkGoToPreviousNavigationTarget"
            label="Favoris"
            overviewRulerPreferenceKey="bookmarkIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="1"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="showBookmarkInNextPrevDropdownToolbarAction"
            symbolicIcon="bookmark"
            textPreferenceKey="bookmarkIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="bookmarkTextStyle"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceKey="bookmarkIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="mesfavoris.command.addFavori"
            icon="icons/bookmark-16.png">
      </image>
      <image
            commandId="mesfavoris.command.updateFavori"
            icon="icons/bookmark-update.png">
      </image>
   </extension>
   <extension
         point="mesfavoris.bookmarkTypes">
      <bookmarkType
            name="default">
         <gotoBookmark
               class="mesfavoris.internal.markers.GotoFileMarkerBookmark"
               priority="0">
         </gotoBookmark>
         <locationProvider
               class="mesfavoris.internal.markers.FileMarkerBookmarkLocationProvider"
               priority="0">
         </locationProvider>
         <labelProvider
               class="mesfavoris.viewers.BookmarkFolderLabelProvider"
               priority="10">
         </labelProvider>
         <properties>
            <property
                  name="name"
                  type="string"
                  updatable="false">
            </property>
            <property
                  name="comment"
                  type="string"
                  updatable="false">
            </property>
            <property
                  name="created"
                  type="instant"
                  updatable="false">
            </property>
         </properties>
      </bookmarkType>
   </extension>
   <extension
         point="mesfavoris.bookmarkProblems">
      <bookmarkProblem
            class="mesfavoris.internal.problems.handlers.CannotGotoProblemHandler"
            type="cannotGotoBookmark">
      </bookmarkProblem>
      <bookmarkProblem
            class="mesfavoris.internal.problems.handlers.PropertiesNeedUpdateProblemHandler"
            type="propertiesNeedUpdate">
      </bookmarkProblem>
      <bookmarkProblem
            class="mesfavoris.internal.problems.handlers.PlaceholderUndefinedProblemHandler"
            type="placeholderUndefined">
      </bookmarkProblem>
   </extension>
</plugin>
