<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="mesfavoris.bookmarkTypes">
      <bookmarkType
            icon="icons/import_obj.gif"
            name="git">
         <propertiesProvider
               class="mesfavoris.git.GitProjectPropertiesProvider"
               priority="1000">
         </propertiesProvider>
         <importTeamProject
               class="mesfavoris.git.ImportGitProject"
               icon="icons/import_obj.gif">
         </importTeamProject>
         <propertiesProvider
               class="mesfavoris.git.CommitBookmarkPropertiesProvider"
               priority="10">
         </propertiesProvider>
         <propertiesProvider
               class="mesfavoris.git.CommitEditorBookmarkPropertiesProvider"
               priority="10">
         </propertiesProvider>
         <locationProvider
               class="mesfavoris.git.RepositoryCommitBookmarkLocationProvider"
               priority="10">
         </locationProvider>
         <labelProvider
               class="mesfavoris.git.RepositoryCommitBookmarkLabelProvider"
               priority="10">
         </labelProvider>
         <gotoBookmark
               class="mesfavoris.git.GotoRepositoryCommitBookmark"
               priority="10">
         </gotoBookmark>
         <properties>
            <property
                  description="name of the git branch"
                  name="git.branch"
                  obsolescenceSeverity="INFO"
                  type="string"
                  updatable="true">
            </property>
            <property
                  name="git.url"
                  type="string"
                  updatable="true">
            </property>
            <property
                  name="git.projectPath"
                  type="string"
                  updatable="true">
            </property>
            <property
                  name="git.repositoryDir"
                  type="path"
                  updatable="true">
            </property>
            <property
                  description="the remote urls"
                  name="git.remoteUrls"
                  type="string"
                  updatable="true">
            </property>
            <property
                  description="the commit id of the commit"
                  name="git.commitId"
                  type="string"
                  updatable="true">
            </property>
            <property
                  name="git.resourcePath"
                  obsolescenceSeverity="WARNING"
                  type="string"
                  updatable="true">
            </property>
         </properties>
      </bookmarkType>
   </extension>

</plugin>
