<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="mesfavoris.bookmarkType">
      <propertiesProvider
            class="mesfavoris.git.GitProjectPropertiesProvider"
            priority="100">
      </propertiesProvider>
      <importTeamProject
            class="mesfavoris.git.ImportGitProject"
            icon="icons/import_obj.gif">
      </importTeamProject>
      <propertiesProvider
            class="mesfavoris.git.CommitEditorBookmarkPropertiesProvider"
            priority="10">
      </propertiesProvider>
      <propertiesProvider
            class="mesfavoris.git.CommitEditorBookmarkPropertiesProvider"
            priority="10">
      </propertiesProvider>
      <locationProvider
            class="mesfavoris.git.RepositoryCommitBookmarkLocationProvider"
            priority="10">
      </locationProvider>
      <labelProvider
            class="mesfavoris.git.RepositoryCommitBookmarkLabelProvider"
            priority="10">
      </labelProvider>
      <gotoBookmark
            class="mesfavoris.git.GotoRepositoryCommitBookmark"
            priority="10">
      </gotoBookmark>
   </extension>

</plugin>
