<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="mesfavoris.bookmarkType">
      <propertiesProvider
            class="mesfavoris.url.UrlBookmarkPropertiesProvider"
            priority="10">
      </propertiesProvider>
      <labelProvider
            class="mesfavoris.url.UrlBookmarkLabelProvider"
            priority="10">
      </labelProvider>
      <gotoBookmark
            class="mesfavoris.url.GotoUrlBookmark"
            priority="10">
      </gotoBookmark>
   </extension>

</plugin>
