<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="mesfavoris.bookmarkTypes">
      <bookmarkType
            name="url">
         <propertiesProvider
               class="mesfavoris.url.internal.UrlBookmarkPropertiesProvider"
               priority="10">
         </propertiesProvider>
         <labelProvider
               class="mesfavoris.url.internal.UrlBookmarkLabelProvider"
               priority="10">
         </labelProvider>
         <gotoBookmark
               class="mesfavoris.url.internal.GotoUrlBookmark"
               priority="10">
         </gotoBookmark>
         <locationProvider
               class="mesfavoris.url.internal.UrlBookmarkLocationProvider"
               priority="10">
         </locationProvider>
         <properties>
            <property
                  name="url"
                  type="string"
                  updatable="true">
            </property>
            <property
                  name="favIcon"
                  obsolescenceSeverity="INFO"
                  type="string"
                  updatable="true">
            </property>
            <property
                  name="icon"
                  obsolescenceSeverity="INFO"
                  type="string"
                  updatable="true">
            </property>
         </properties>
      </bookmarkType>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="mesfavoris.url.internal.handlers.CopyBookmarkUrlHandler"
            description="Copy url to clipboard"
            id="mesfavoris.url.commands.copyUrl"
            name="Copy url">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:mesfavoris.views.BookmarksView?after=additions">
         <command
               commandId="mesfavoris.url.commands.copyUrl"
               label="Copy url"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
